CHANGENOW_API_KEY=
SOLANA_SECRET_KEY=
SOLANA_ADDRESS=
NIMIQ_PRIVATE_KEY=
NIMIQ_ADDRESS=
ALBATROSS_RPC_NODE_URL=https://rpc.nimiqwatch.com
SIMPLESWAP_API_KEY=
EVM_PRIVATE_KEY=
EVM_ADDRESS=
MEXC_ACCESS_KEY=
MEXC_SECRET_KEY=
MEXC_NIM_DEPOSIT_ADDRESS=
